@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #3c3836;
  color: #928374;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas {
  padding: 1rem;
  margin: 1rem;
  border: #928374 solid 0.5rem;
}

.console {
  width: 85%;
  height: 3rem;
}

